body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side-main {
  background-color: #fcf6f5;
}

.right-side-main {
  max-height: 100vh;
  padding: 20px;
  background-color: #990011;
}

.cv {
  background-color: white;
  height: 100%;
}

.responsabilities {
  display: flex;
  flex-direction: column;
}
.responsabilities textarea {
  max-width: 300px;
}
