@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: montserrat, arial, verdana;
}

.left-side-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 40% 60%;
}

.left-side-main {
  background-color: #000000;
  font-size: 16px;
  overflow: auto;
}

label {
  font-size: 1rem;
}

.responsabilities {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.responsabilities textarea {
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section {
  background-color: white;
  padding: 20px;
}

.form-section.middle {
  background-color: rgb(236, 236, 236);
}

.form-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
  position: relative;
  transition: all 0.3s;
}

form button:hover {
  background-color: #1e8449;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.delete-btn {
  background-color: #ae2727;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
  position: relative;
  transition: all 0.3s;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #841e1e;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.edit-btn {
  background-color: #aea727;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
  position: relative;
  transition: all 0.3s;
  margin-top: 10px;
}

.edit-btn:hover {
  background-color: #84711e;
  transform: translateY(0);
  transition-duration: 0.35s;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
}

input:focus {
  border: 2px solid rgb(45, 45, 199);
  outline: none;
}

.created-form {
  background-color: rgb(213, 213, 213);
  padding: 20px;
  border: 1px solid black;
  margin: 30px;
  border-radius: 5px;
}

.right-side-main {
  background-color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100vh;
}

.cv {
  background-color: white;
  height: 100%;
  width: 65%;
  display: grid;
  overflow: hidden;
  font-size: 0.8rem;
  grid-template-rows: 20% 40% 40%;
}

.cv-section {
  padding: 10px;
  display: grid;
}
.cv-section-wrap {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  max-height: 400px;
}
.section-title {
  font-size: 1rem;
}
.right-side-main ul {
  margin: 0;
}
.right-side-main p {
  margin: 0;
}
.cv-section.top {
  background-color: rgb(2, 30, 167);
  border: none;
  color: white;
  border-bottom-right-radius: 10px;
}
